@{
    ViewBag.Title = "";
}

<center>
<h2>Burrito Bison Revenge</h2>
<br />
    <object width="720" height="480">
        <param name="movie" value="http://www.ggames.co/games/Burrito-Bison-Revenge.swf">
        <embed src="http://www.ggames.co/games/Burrito-Bison-Revenge.swf" width="720" height="480">
    </object>
</center>
